%h2
  Welcome to our little blog test app

= image_tag "https://placekitten.com/500/280"
%p
Here is a picture of some cats to make you smile before you get started.

%p
  Wanna see some blog posts? Click
  = link_to "here", posts_path
